@font-face{
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

img{
    height: 100vh;
    width: 35vw;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    
}

p{
    font-size: 1.3em;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 200px;
}

#para2{
    margin-top: 30px;
}

#form1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.row1, .row2, .row3{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

input {
    padding: 4px;
    font-size: 1rem;
}


.elem{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.second{
    border-bottom: 1px solid #ccc;
    padding: 40px;
}

.second > p{
    margin-bottom: 30px;
}

.third button{
    color: white;
    background-color: #596D48;
    margin-left: 50px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 5px;
}

.third p{
    font-size: small;
    margin-top: 30px;
}






